@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  /* set max and min width for the app
  max-width: 1440px;
  min-width: 768px; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  overflow-y: auto;
  height: 100vh;
}

/* Define the custom font using @font-face */
@font-face {
  font-family: "verde";
  src: url("/fonts/PumpkinPieLattesBold-WyGGz.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Optional: Define the custom class using the custom font */
.verde {
  font-family: "verde", sans-serif;
}

.plants-grid {
  display: grid;
  gap: 1rem; /* Add space between grid items */
}

/* For small screens */
@media screen and (max-width: 768px) {
  .plants-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Cards will fit dynamically */
  }
}

/* For medium screens */
@media screen and (min-width: 768px) and (max-width: 1480px) {
  .plants-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* Dynamically fit, maintain balance */
  }
}

/* For larger screens */
@media screen and (min-width: 1480px) {
  .plants-grid {
    grid-template-columns: repeat(2, 1fr); /* Fixed two columns */
  }
}

/* For very large screens */
@media screen and (min-width: 1920px) {
  .plants-grid {
    grid-template-columns: repeat(3, 1fr); /* Fixed three columns */
  }
}

.animation-slide-from-left {
  animation: slide-from-left 0.5s ease-in-out;
}

.animation-slide-to-left {
  animation: slide-to-left 0.5s ease-in-out;
}

@keyframes slide-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidenav-gradient {
  background: rgb(255, 226, 226);
  background: linear-gradient(
    171deg,
    rgba(255, 226, 226, 1) 2%,
    rgba(220, 252, 231, 1) 98%
  );
}

.search-bar {
  width: 400px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .search-bar {
    width: 100%;
  }

  .search-bar-container {
    flex-direction: column;
    gap: 1rem;
    justify-content: left;
  }

  .clear-btn {
    width: 100%;
  }
}

.greeny-gradient-1 {
  background: rgb(5, 223, 114);
  background: linear-gradient(
    202deg,
    rgba(5, 223, 114, 1) 0%,
    rgba(127, 217, 195, 1) 100%
  );
}
.greeny-gradient-2 {
  background: rgb(1, 102, 48);
  background: linear-gradient(
    202deg,
    rgba(1, 102, 48, 1) 0%,
    rgba(127, 217, 195, 1) 100%
  );
}

.greeny-gradient-3 {
  background: rgb(1, 102, 48);
  background: linear-gradient(
    202deg,
    rgba(1, 102, 48, 1) 0%,
    rgba(220, 252, 231, 1) 100%
  );
}
