@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html{
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  overflow-y: auto;
  height: 100vh;
}


/* Define the custom font using @font-face */
@font-face {
  font-family: "verde";
  src: url("/fonts/PumpkinPieLattesBold-WyGGz.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Optional: Define the custom class using the custom font */
.verde {
  font-family: "verde", sans-serif;
}
